@inherits LayoutComponentBase


<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   BackdropClick="false"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   BackgroundClass="my-custom-class" />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText style="margin-left:850px;">@DateTime.Now.ToString("d")</MudText>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
        <MudSwitch @bind-Value="_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" />
    </MudDrawer>
    <MudMainContent>
        <div style="margin-left:20px; margin-top:20px; margin-right:20px;">
        @Body
        </div>
    </MudMainContent>
</MudLayout>


<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    bool _drawerOpen = true;
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
