@page "/cars"
@using VehiclesControl.Domain.Outs
@rendermode InteractiveServer

<div class="mb-3">
    <MudTextField @bind-Value="SearchString" Placeholder="Search..." Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
</div>

@if (CarResponses == null)
{
    <div class="d-flex justify-content-center">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    </div>
}
else
{
    <MudTable @ref="@_table" Items="@FilteredCars" RowsPerPage="10" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>
                <MudTextField @bind-Value="IdFilter" Placeholder="Id Filter" />
                Id
            </MudTh>
            <MudTh>
                <MudTextField @bind-Value="WheelsFilter" Placeholder="Wheels Filter" />
                Wheels
            </MudTh>
            <MudTh>
                <MudTextField @bind-Value="ColorFilter" Placeholder="Color Filter" />
                Color
            </MudTh>
            <MudTh>Headlights On</MudTh>
            <MudTh Class="small">Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Wheels">@context.Wheels</MudTd>
            <MudTd DataLabel="Color">@context.Color</MudTd>
            <MudTd DataLabel="HeadlightsOn"><MudSwitch @bind-Value="@context.HeadlightsOn" Color="Color.Secondary" /></MudTd>
            <MudTd>
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.CallToAction" Color="Color.Error" OnClick="() => {CarResponse = context; OnButtonClicked(); }" />
                </MudButtonGroup>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <div class="d-flex flex-column align-center">
                <MudPagination ShowFirstButton="true" ShowLastButton="true" SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="mt-3 mb-3" />
            </div>
        </PagerContent>
    </MudTable>
}
