@page "/cars"
@using VehiclesControl.Domain.Outs
@rendermode InteractiveServer


@if (CarResponses == null)
{
    <div class="d-flex justify-content-center">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    </div>
}
else
{
    <MudDataGrid T="CarResponse" Items="@CarResponses" ReadOnly="@_readOnly" EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
                 StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                 Bordered="true" Dense="true" EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Id" Editable="false" />
            <PropertyColumn Property="x => x.Wheels" />
            <PropertyColumn Property="x => x.Color" />
            <PropertyColumn Property="x => x.HeadlightsOn" />
            <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

